.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.input-form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.input-text {
  height: 300px;
  width: 500px;
  border: 5px solid aqua;
  overflow: hidden;

}

.input-text::placeholder {
  color:coral;
  font-size: 2em;
  text-align: center;
}

.input-button {
  width: 200px;
  height: 50px;
  background-color: aqua;
  border: none;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}